@import url('https://fonts.gloogleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left-side {
    position: relative;
    background: #003147;
    padding: 40px;
}

.link{
    width: 100%;
    text-align: center;
}

.link a{
    color: white;
    text-decoration: none;
}

.link .link-a:hover{
    background: white;
    color: #0077ff;
}

.link .link-a{
    position: relative;
    border-radius: 7px;
    border:2px solid white;
    padding:10px;
    margin:17px 0;
    transition: 0.3s;
}

.link .link-a i{
    position: absolute;
    left: 20px;
    line-height: 1;
    font-size: 23px;
}

.link .link-a h3{
    font-weight: normal;
}

.link2{
    margin-top:10px;
}

.link2 i:hover{
    transform: scale(1.3);
}

.link2 i{transition: 0.3s;}

.link2 a{
    color: #dfdfdf;
    font-size: 25px;
    margin:0 5px;
}





.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBx {
    position: relative;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    overflow: hidden;
    border: 0.5rem solid rgba(0, 217, 255, 0.2);
}

.profileText .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span {
    font-size: 0.6em;
    font-weight: 300;
}

.contactInfo {
    padding-top: 40px;
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.contactInfo ul li span {
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.9px;
}

.contactInfo.education li {
    margin-bottom: 15px;
}

.contactInfo.education h5 {
    color: #03a9f4;
    font-weight: 500;
}

/* .contactInfo.education h4:nth-child(2) {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
} */

.contactInfo.education h4 {
    color: #fff;
    font-weight: 200;
}

.contactInfo.language .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}

.contactInfo.language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.container .right-side {
    position: relative;
    background: #fff;
    padding: 40px;
}

.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}

.title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 700;
}

p {
    color: #333;
    line-height: 1.5em;
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company {
    min-width: 150px;
}

.about .box .year_company h5 {
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.about .box .text h4 {
    color: #2a7da2;
    font-size: 16px;
}
.text{
    color: #2a7da2;
    font-size: 16px;
}

.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4 {
    text-transform: uppercase;
    color: #ffffff; 
}
.skills .box .title2 h2 {
    text-transform: uppercase;
    color: #ffffff !important; 
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}

.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.social-networks ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.social-networks ul li {
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}

.social-networks ul li .fa-brands {
    color: #03a9f4;
    font-size: 18px;
    margin-right: 5px;
}

.social-networks ul li a {
    color: #333;
    font-size: 18px;
    margin-right: 5px;
    text-decoration: none;
}

.social-networks ul li a:hover{
    color: #03a9f4;
    font-size: 18px;
    margin-right: 5px;
    text-decoration:underline;
}

.logo-footer{
    
   margin-top: 50px; 
   width: 100%;
   display: flex;
    justify-content: center;
    align-items: center;
}
.logo-footer img{
    width: 60%;
    margin-left: -30px;
}

.vinho{
    margin-top: 70px;
    margin-bottom: 5px;
    width: 100%;
    height: 5px;
    background-color: #8b0303;
}
.verde{
    
    width: 100%;
    height: 5px;
    background-color: #013c0d;
}
.flu{
    width: 15%;
    float: left;
    margin: -50px auto;
    clear: both;
 
}
.dj{
    width: 30%;
    margin: 50px 200px;
    justify-content: center;
    align-items: center;
}

.contato{
    margin-top: 100px;
    display: flex;
    width: 100%;
    
    align-items: center;
    justify-content: space-around;


}

.contato .qrcode{
    width: 20%;
}

.contato .ey{
    margin-top: -30px;
    width:20%;
}


@media (max-width: 1000px) {
    .container {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
    .social-networks {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width: 600px) {
    .about .box {
        flex-direction: column;
    }
    .about .box .year_company {
        min-width: 150px;
        margin-bottom: 5px;
        ;
    }
    .social-networks ul {
        grid-template-columns: repeat(1, 1fr);
    }
    .skills .box {
        grid-template-columns: repeat(1, 1fr);
    }
}

.container .right-side {
    position: relative;
    background: #fff;
    padding: 40px;
}

/*FOOTER*/
.container .main_footer{
    width: 100%;
    display:inline-block;
    float:left;
    padding: 10px;
    background: #003147;
    text-align: center;
    color: #fff;
    font-size: 0.875em;
}
.clear{
    clear: both;
}
.main_footer span{
	margin-left: -50px;
}
.simbolo{
	float: left;
	width: 10%;
	margin: -10px 0 0 20px;
	
}